﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Dominican Republic.<br />
    Santo Domingo. DN. 10513<br />
    <abbr title="Phone Number">P:</abbr>
    809-749-5056
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/sergio-encarnaci%C3%B3n-ab6b62b5/" target="_blank">Sergio Encarnación</a><br />
</address>