﻿@model ChatroomBackend.Models.Message

<form id="messageForm">
    <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Email</label>
        @Html.TextBoxFor(m => m.MessageText, null, new { @class = "form-control", id = "message-content" })
        <label id="message-status"></label>
    </div>
    <input type="submit" value="Send" class="btn btn-primary mb-2" />
</form>